.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px; 
    align-items: center;
}
.bbox {
width: 450px;
height: 903px;
border-radius: 20px;
background-color: #F4ECE9;

}
p {
    color: #4C4244;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h1 {
    width: 266px;
    height: 88px;
    color:  #4C4244;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal; 
    line-height: normal;  
}
.bbox::before {
    content: url("istockphoto-521573881-612x612 1 (1).png");
    width: 450px;
    height: 371px;
    border-radius: 20px;
}