.head-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 104px;
}
.head-table_element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    column-rule-color: #4C4244;
}
.head-table_logo {
    display: flex;
    justify-content: center;
    height: 104px;
    margin: 0 114 0 114;
} 
.logo_text {
    text-align: start;
    color: #82A40E;
    font-family: Montserrat;

}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
@media screen and (max-width: 760px;)
.box {
    grid-template-columns: repeat(2, 1fr);
} 
@media screen and (max-width: 320px) 
.box {
    display: block;
}